{{ define "main" }}

  {{ $caSite := partial "canonical-site.html" . }}

  {{ $caProjects := "" }}
  {{ $caBlog := "" }}

  {{ if $caSite }}
    {{ $caProjects = $caSite.GetPage "/projects" }}
    {{ $caBlog = $caSite.GetPage "/blog" }}
  {{ end }}


  {{ with $caProjects }}

    {{ $projects := partial "resolve-translation.html" (dict
      "page" .
      "lang" $.Language.Lang
    ) }}

    <h2 class="index-section-title">
      {{ $projects.Title }}
    </h2>

    <section class="galleries">

      {{ range where .RegularPages "Params.private" "ne" true }}

        {{ partial "album-card.html"
          (partial "resolve-translation.html" (dict
            "page" .
            "lang" $.Language.Lang
          ))
        }}

      {{ end }}

    </section>

  {{ end }}


  {{ with $caBlog }}

    {{ $blog := partial "resolve-translation.html" (dict
      "page" .
      "lang" $.Language.Lang
    ) }}

    <h2 class="index-section-title">
      {{ $blog.Title }}
    </h2>

    <section class="galleries">

      {{ range where .RegularPages "Params.private" "ne" true }}

        {{ partial "album-card.html"
          (partial "resolve-translation.html" (dict
            "page" .
            "lang" $.Language.Lang
          ))
        }}

      {{ end }}

    </section>

  {{ end }}

{{ end }}