{{ define "main" }}
  <hgroup>
    <h1>{{ .Title }}</h1>
  </hgroup>

  <section id="gallery">
    {{ range .Resources.ByType "image" }}
      {{ $title := "" }}
      {{ if ne .Title .Name }}
        {{ $title = .Title }}
      {{ end }}

      {{ $thumb := .Filter (slice images.AutoOrient (images.Process "fit 800x800 webp q80")) }}
      {{ $full := .Filter (slice images.AutoOrient (images.Process "fit 1920x1920 webp q82")) }}

      <a class="gallery-item"
         href="{{ $full.RelPermalink }}"
         data-pswp-src="{{ $full.RelPermalink }}"
         data-pswp-width="{{ $full.Width }}"
         data-pswp-height="{{ $full.Height }}"
         data-pswp-target="{{ .Name | urlize }}">

        <img src="{{ $thumb.RelPermalink }}"
             width="{{ $thumb.Width }}"
             height="{{ $thumb.Height }}"
             alt="{{ default .Name $title }}"
             loading="lazy">

        {{ with $title }}
          <p class="pswp-caption-content">{{ . }}</p>
        {{ end }}

      </a>
    {{ end }}
  </section>
{{ end }}