{{- $cover := partial "get-cover.html" . -}}

{{- with $cover -}}
  {{- $thumbnail := .Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) -}}
  {{- $color := index $thumbnail.Colors 0 | default "transparent" -}}

  <a class="card" href="{{ $.RelPermalink }}" title="{{ $.Title }}">
    <figure style="background-color: {{ $color }}">
      <img
        class="lazyload"
        width="{{ $thumbnail.Width }}"
        height="{{ $thumbnail.Height }}"
        data-src="{{ $thumbnail.RelPermalink }}"
        alt="{{ $.Title }}"
      />
    </figure>

    <div>
      <h2>{{ $.Title }}</h2>
    </div>
  </a>
{{- end -}}