<footer>
  {{ partialCached "social-icons.html" . }}
  
  <section>
    <div class="language-selector">
      {{ $current := . }}
      {{ range $.Site.Home.AllTranslations }}
        {{ $lang := .Language.Lang }}
        {{ $target := .Permalink }}
        {{ range $current.AllTranslations }}
          {{ if eq .Language.Lang $lang }}
            {{ $target = .Permalink }}
          {{ end }}
        {{ end }}
        <a href="{{ $target }}" class="{{ if eq $lang $.Language.Lang }}active{{ end }}">
          {{ upper $lang }}
        </a>
      {{ end }}
    </div>
  </section>
  
  <section>
    © {{ now.Year }} {{ .Site.Copyright }}
    {{ range .Site.Menus.footer }}
      <a {{ with .Params.rel }}rel="{{ . }}"{{ end }} href="{{ .URL }}">
        {{ .Name }}
      </a>
    {{ end }}
  </section>
</footer>